@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar {
  width: 100% !important;
  border: none !important;
  box-shadow: none !important;
}

.react-calendar__tile--active {
  background: #c3ebfa !important;
  color: black !important;
}

.react-calendar__navigation__label__labelText {
  color: black !important;
  font-weight: bold !important;
}

.rbc-btn-group:first-child {
  display: none !important;
}

.rbc-btn-group:last-child {
  font-size: 12px !important;
}

.rbc-btn-group:last-child button {
  font-size: 12px !important;
  border: none !important;
  border-radius: 5px !important;
  background-color: #f1f0ff !important;
  margin-left: 2px !important;
  box-shadow: none !important;
}

.rbc-btn-group button.rbc-active {
  background-color: #dbdafe !important;
  box-shadow: none !important;
}
.rbc-toolbar-label {
  font-size: 12px !important;
  text-align: right !important;
  padding: 0 20px !important;
}

.rbc-time-view {
  border: 2px solid #f1f0ff !important;
  border-radius: 10px !important;
  background-color: #f1f0ff !important;
}

.rbc-time-content {
  font-size: 12px !important;
  border: none !important;
  border-radius: 12px !important;
}

.rbc-time-content > * + * > * {
  border: none !important;
}

.rbc-time-header {
  display: none !important;
}

.rbc-timeslot-group {
  padding: 0 20px !important;
  border: 1px solid #f1f0ff !important;
  background-color: #f7fdff !important;
}

.rbc-event {
  border: none !important;
  color: black !important;
  padding: 10px !important;
  margin: 10px !important;
  width: 99% !important;
}
.rbc-event:nth-child(1) {
  background-color: #e2f8ff !important;
}

.rbc-event:nth-child(2) {
  background-color: #fefce8 !important;
}

.rbc-event:nth-child(3) {
  background-color: #f2f1ff !important;
}

.rbc-event:nth-child(4) {
  background-color: #fdf2fb !important;
}

.rbc-event:nth-child(5) {
  background-color: #e2f8ff !important;
}

.rbc-event:nth-child(6) {
  background-color: #fefce8 !important;
}

.rbc-event:nth-child(7) {
  background-color: #f2f1ff !important;
}

.rbc-event:nth-child(8) {
  background-color: #fdf2fb !important;
}

.rbc-event-label {
  font-size: 12px !important;
  color: gray !important;
  margin-bottom: 5px !important;
}
